body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
}

section {
  padding: 50px 0;
}
/* header style start  */
header {
  height: 100vh;
  margin: 0 80px;
}
.header_top ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
}
.header_top a {
  font-weight: 500;
  color: #fc8f49;
  font-size: 18px;
}
.header_bottome {
  display: flex;
}
.header_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.header_left span {
  color: #fc8f49;
}
.header_left h1 {
  color: #575757;
  line-height: 64px;
  font-size: 50px;
}
.header_left p {
  color: #828282;
  padding: 4px 0px;
  line-height: 31px;
  width: 455px;
  padding-bottom: 29px;
  font-size: 16px;
}
.btn_link {
  background-image: linear-gradient(to right, #fba24f, #ff1e1e);
  display: inline;
  width: 105px;
  color: #fff;
  padding: 15px 24px;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 500;
  margin:20px 0;
}
.header_right {
  width: 50%;
  justify-content: center;
  display: flex;
}
.header_right img {
  width: 500px;
  justify-content: center;
}
.header_top {
  padding: 18px 0;
}

/* abotu style  */

#about {
  background-image: url("./images/shapes/7.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  margin-top:80px;
     padding-bottom: 0;
     padding-top: 15px;
}
.about_left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.about_left img {
  width: 275px;
  display: flex;
  justify-content: center;
  height: 415px;
}
.about_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
}
.about_right h2 {
  width: 540px;
  color: #707070;
  font-size: 40px;
  text-shadow: 2px 2px 5px #9e8585;
}
.about_right p {
  width: 630px;
  font-size: 16px;
  line-height: 25px;
  color: rgb(130, 130, 130);
  text-align: justify;
}

/* recipies style  */
#recipies {
  margin: 0 80px;
}
.recipies_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipies_top h2 {
  color: #676767;
  font-size: 30px;
}
.recipies_top p {
  width: 600px;
  text-align: center;
  font-size: 15px;
  color: #252525;
  line-height: 25px;
}
.recipies_bottom {
  display: flex;
  justify-content: space-around;
}
.card {
  width: 333px;
  box-shadow: 2px 2px 15px 0px #727272;
  border-radius: 15px;
}
.card_inside {
  padding: 15px;
}

.card p {
  color: #727272;
  font-size: 15px;
}

/* count section  */
#couant {
  margin: 0 80px;
}
.couant_card {
  box-shadow: 1px 1px 10px 0px #727272;
  border-radius: 15px;
}
.count_card {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.couant_item h3 {
  font-size: 30px;
  color: #18191f;
  font-weight: bold;
}

.couant_item p {
  font-size: 14px;
  color: #18191f;
}

/* contact style  */
#contact {
  margin: 70px 80px;
  display: flex;
  justify-content: center;
  /* background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0, 0.3)) url(""); */
  /* background-image: url("./images/food/Project\ Cover8.png"), linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3));
    background-repeat: no-repeat;
    background-size: cover;
    
     */
  box-shadow: 1px 1px 10px 0px #727272;
  border-radius: 15px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
}
.input-group {
  margin: 25px 0;
}
.contact_card h3 {
  color: #828282;
  font-size: 30px;
}

.input-group label {
  color: #fc8f49;
  font-size: 19px;
  font-weight: 500;
}

button.button {
  display: block;
  width: 100%;
  padding: 10px;
  background: #fc8f49;
  border: none;
  color: #fff;
  font-size: 20px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
}
.contact_card {
  width: 900px;

  align-items: center;
}
/* footer style  */
footer {
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

footer p {
  color: #fff;
  font-size: 14px;
}

footer span {
  color: #fba24f;
}

footer h1 {
  color: #5b5b5b;
}
